body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c2c2c2;
    height: 95vh;
    width: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #a81d1d;
}